.panel-title {
    font-size: 28px;
    font-weight: bold;
}

.panel-body {
    height: 80vh;
    overflow-y: auto;
}

.search-box-title {
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
}

.search-box {
    padding: 10px;
    /* border: solid purple; */
}