.title {
    font-size: 2.5rem;
    font-weight: bold;
    }
    .pad-left-right {
    padding-left: 1rem;
    padding-right: 1rem;
}

.message-history {
    height: 50vh;
    padding: 20px 0 0 0;
    /* border: solid lightgrey 1px; */
    /* border-radius: 10px; */
    overflow-y: scroll;
}