<cms-header (selectedFeatureEvent)="switchView($event)"></cms-header>
<!-- <cms-contacts></cms-contacts> -->
<div class="container pull-left" [ngSwitch]="selectedFeature">
    <cms-documents
        *ngSwitchCase="'documents'"
    ></cms-documents>
    <!-- <cms-message-list
    *ngSwitchDefault
    ></cms-message-list> -->
    <cms-message-list
        *ngSwitchCase="'messages'"
    ></cms-message-list>
    <!-- <cms-contacts
        *ngSwitchCase="'contacts'"
    ></cms-contacts> -->
    <cms-contacts
        *ngSwitchDefault
    ></cms-contacts>
</div>